<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class = "navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navigation">
  <a class = "navbar-brand" th:href="@{/}">Home</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
          aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class = "collapse navbar-collapse" id ="navbarsExample84">
    <ui class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/groups}">Groups</a>
      </li>

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/lessons}">Lessons</a>
      </li>

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/rooms}">Rooms</a>
      </li>

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/students}">Students</a>
      </li>

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/subjects}">Subjects</a>
      </li>

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/teachers}">Teachers</a>
      </li>

      <li class="nav-item">
        <a class ="nav-link" th:href="@{/admin-panel}">Admin</a>
      </li>
    </ui>
  </div>
</nav>
</body>
</html>