<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new Lesson</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<main role="main" class="flex-shrink-0">
  <div class="container mt-5">
    <div class="jumbotron">
      <h1 class="display-4">Create new Lesson</h1>
    </div>
  </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
    <div class="container">
      <form role="form" method="post" th:action="@{/lessons/save}" th:object="${lessonDto}">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="room_id">Room</label>
              <select class="form-control" th:field="*{roomId}"  id="room_id">
                <option value="0">Select room</option>
                <option th:each="room : ${listRooms}" th:value="${room.id}" th:text="${room.number}"></option>
              </select>
          </div>

          <div class="form-group col-md-6">
            <label for="group_id">Group</label>
            <select class="form-control" th:field="*{groupId}"  id="group_id">
              <option value="0">Select group</option>
              <option th:each="group : ${listGroups}" th:value="${group.id}" th:text="${group.name}"></option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="teacher_id">Teacher</label>
            <select class="form-control" th:field="*{teacherId}"  id="teacher_id">
              <option value="0">Select teacher</option>
              <option th:each="teacher : ${listTeachers}" th:value="${teacher.id}" th:text="${teacher.name}"></option>
            </select>
          </div>

          <div class="form-group col-md-6">
            <label for="subject_id">Subject</label>
            <select class="form-control" th:field="*{subjectId}"  id="subject_id">
              <option value="0">Select subject</option>
              <option th:each="subject : ${listSubjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
            </select>
          </div>

          <div class="col-md-6 form-group">
            <label>Date</label>
            <input type="date" class="form-control" placeholder="yyyy-MM-dd" id="date" th:field="*{date}">
          </div>

          <div class="col-md-6 form-group">
            <label>Start Time</label>
            <input type="time" class="form-control" placeholder="" id="startTime" th:field="*{startTime}">
          </div>

          <div class="col-md-6 form-group">
            <label>End Time</label>
            <input type="time" class="form-control" placeholder="" id="endTime" th:field="*{endTime}">
          </div>

        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    </div>
  </section>
</main>
</body>
</html>